<ilpn-page-layout>
    <h2>
        An implementation of
        <br> ILP&#178; miner, will be submitted to PETRI NETS 2023.
    </h2>
    <hr>

    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
        <ilpn-file-upload descriptionText="Drop a XES log file here" [fileDisplay]="fdLog" [showText]="!logLoaded" (fileContent)="processLogUpload($event)"></ilpn-file-upload>

        <div fxLayout="column" fxLayoutAlign="center center" class="sliders">
            <mat-form-field appearance="fill">
                <mat-label>Frequency Threshold</mat-label>
                <input matInput type="number" [formControl]="fcThreshold">
            </mat-form-field>
        </div>

        <ilpn-file-download descriptionText="click to download model" [fileDisplay]="fdPN" [disabled]="processing || pnResult === undefined" [files]="pnResult"></ilpn-file-download>
        <ilpn-file-download descriptionText="click to download report" [squareContent]="'🦈'" [disabled]="processing || reportResult === undefined" [files]="reportResult"></ilpn-file-download>
    </div>

</ilpn-page-layout>
